.contactContainer {
	display: flex;
	text-align: center;
	flex-direction: column;
	max-width: 980px;
	margin: 0 auto;
	padding: 1rem 2.5rem;
	font-family: "Roboto", sans-serif;
}

.h1Contact {
	text-align: center;
}

.pContact {
	line-height: 1.6;
}

.pAddress {
	margin: 0.25rem 0;
}

.noUnderline {
	text-decoration: none;
	font-weight: 700;
	color: inherit;
}

.aTel {
	text-decoration: none;
	font-weight: 700;
	color: inherit;
}

.mapContainer {
	display: flex;
	justify-content: center;
	margin: 1.25rem 0;
}

.spanTel a {
	text-decoration: none;
	font-weight: 700;
	color: inherit;
}

.detailsBlock {
	text-align: center;
}

.miniLogoContainer {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.miniLogoContainer a {
	display: inline-flex;
}
